@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-4" ng-controller="SearchController">
        <input type="text" name="query" class="form-control" autocomplete="off" ng-model="query" ng-model-options="{debounce: 1000}" ng-change="doSearch()" placeholder="Search for products" />
        <ul>
            <li ng-repeat="singleResult in searchResults">
                {{ singleResult.name }}
                <button class="btn btn-default btn-xs" ng-click="addProduct(singleResult.ndbno)">
                    +
                </button>
            </li>
        </ul>
    </div>

    <div class="col-xs-8" ng-controller="MainController">
        <uib-tabset active="active">
            <uib-tab index="0" heading="Summary">
                <div class="form-group">
                    <label>Dish name</label>
                    <input type="text" class="form-control" name="name" value="" ng-model="name" placeholder="Dish name"/>
                </div>
                <hr />
                <button class="btn btn-info" ng-click="recalculateSummary()">
                    <i class="glyphicon glyphicon-refresh"></i> Recalculate
                </button>
                <button class="btn btn-success" ng-disabled="!summary" ng-click="save()">
                    Save XML and show XSLT-transformed document, please
                </button>

                <div ng-show="errors">
                    <p>Sir, we have some problems:</p>
                    <ul>
                        <li ng-repeat="singleProblem in errors track by $index">
                            {{singleProblem}}
                        </li>
                    </ul>
                </div>

                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Nutrient name</th>
                            <th>Amount in 100g</th>
                            <th>Amount in recipe</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="singleNutrient in summary">
                            <td>
                                {{ singleNutrient.name }}
                            </td>
                            <td>
                                {{ singleNutrient.amountInUnit }}
                            </td>
                            <td>
                                {{ singleNutrient.amountInRecipe }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </uib-tab>
            <uib-tab index="$index + 1" ng-repeat="singleProduct in products" heading="{{singleProduct.name}}">
                <div class="form-group">
                    <label>Amount needed in recipe [g/ml]</label>
                    <input type="text" ng-model="singleProduct.weight" class="form-control" />
                </div>
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Nutrient name</th>
                            <th>Amount per 100g</th>
                            <th>Amount in recipe</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="singleNutrient in singleProduct.nutrients">
                            <td>
                                {{ singleNutrient['@@name'] }}
                            </td>
                            <td>
                                {{ singleNutrient['@@value'] }}
                            </td>
                            <td>{{ singleNutrient['@@value']*singleProduct.weight/100 }}</td>
                        </tr>
                    </tbody>
                </table>
            </uib-tab>
        </uib-tabset>
    </div>
</div>


@*<div class="row" ng-app="MealDetailer" ng-controller="MainController">
        <div class="col-xs-12" ng-show="errors">
            <ul>
                <li ng-repeat="error in errors">
                    {{ error }}
                </li>
            </ul>
        </div>
        <div class="col-xs-12">
            {{ report.food.Name }}

            <ul>
                <li ng-repeat="singleNutrient in report.food.nutrients.nutrient">
                    {{ singleNutrient['@@name'] }}
                    <ul>
                        <li ng-repeat="singleMeasure in singleNutrient.measures.measure">
                            {{ singleMeasure['@@label'] }} -
                            <input type="text" ng-model="singleMeasure['@Html.Raw("@")value']"/>g
                        </li>
                    </ul>
                </li>
            </ul>

            <button type="button" ng-click="save()" ng-disabled="!isValid">Save changes</button>
        </div>
    </div>*@

@*<div class="row">
        <div class="col-xs-12 text-center">
            <a href="Home/GetXml?xmlUri=/Resources/booksSchemaSuccess.xml&xsdUri=/Resources/books.xsd" class="btn btn-success btn-lg">
                Valid file
            </a>
            <a href="Home/GetXml?xmlUri=/Resources/booksSchemaFail.xml&xsdUri=/Resources/books.xsd" class="btn btn-danger btn-lg">
                Invalid
            </a>
        </div>
    </div>*@