@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-xs-12 text-center">
        <a href="Home/GetXml?xmlUri=/Resources/booksSchemaSuccess.xml" class="btn btn-success btn-lg">
            Valid file
        </a>
        <a href="Home/GetXml?xmlUri=/Resources/booksSchemaFail.xml" class="btn btn-danger btn-lg">
            Invalid
        </a>
    </div>
</div>